body {
    background-color: #f7f7fa;
    font-family: "Tahoma", serif;
    text-align: center;
    padding-top: 60px;
}

h1 {
    font-family: 'Abril Fatface', serif;
    font-size: 3rem;
    color: #2D5289;
    margin-bottom: 40px;
}

form {
    display: inline-block;
    text-align: left;
    width: 600px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px #dfe1ec;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
    color: #2D5289;
    margin-left: 8px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 18px;
    font-size: 1rem;
    border: none;
    background-color: #d8e2f0;
    border-radius: 8px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 200px;
    margin: 30px auto 20px auto;
    padding: 16px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #d8e2f0;
    color: #2D5289;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.extra-options {
    text-align: center;
    font-size: 0.95rem;
    margin-top: 20px;
    color: #333;
}

.extra-options a {
    color: #2D5289;
    font-weight: bold;
    text-decoration: none;
}

.extra-options em {
    display: block;
    margin: 10px 0;
    font-style: normal;
}

/* fonts */
.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.bowlby-one-sc-regular {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}