body {
    background-color: #f7f7fa;
    font-family: "Tahoma", serif;
    text-align: center;
    padding-top: 60px;
}

form {
    display: inline-block;
    background-color: #CBD7EE;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px #dfe1ec;
}

.center-wrapper {
    display: flex;
    justify-content: center;    /* centers horizontally */
    align-items: center;        /* centers vertically */
    height: 100vh;              /* takes up full screen height */
    background-color: #CBD7EE;
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.bowlby-one-sc-regular {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}